@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: giggleFont;
  src: url(./fonts/Atop-R99O3.ttf);
}

.giggleFont {
  font-family: giggleFont;
}

body{
  background: black;
  color: white;
}

.bg1 {
  background-image: url(../assets/LOST.gif) ;
  background-size: cover;
}